#profile_header_section {
  padding-top: 83px;
}

.profile-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  align-items: center;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #bfbfbf;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

#avatar-edit {
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #004b91;
  justify-content: center;
  align-items: center;
  display: flex;
  right: 0px;
  bottom: 0px;
}

.avatar-wrapper h1 {
  margin: 0px;
}

.avatar-wrapper p {
  margin: 0px;
}

#profile_details_section {
  padding-top: 40px;
}

#profile_details_section h1,
p {
  margin: 0px;
}

.profile-section {
  padding: 32px 0px 54px 0px;
  border-bottom: 1px solid #dfdfdf;
}

#personal_data {
  display: flex;
  flex-direction: row;
  column-gap: 194px;
}

.profile-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.profile-input-group {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.profile-input-group h3 {
  color: #1b1b1b;
  font-size: 16px;
  line-height: 26px;
  font-family: "Libre Franklin";
  font-weight: 500;
  margin: 0px;
  margin-top: 2px;
}

.profile-input-group div {
  display: flex;
  flex-direction: column;
  min-width: 316px;
}

.required:after {
  content: " *";
  color: red;
}

.profile-input-group input {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  padding: 8px 16px 6px 16px;
  color: #a8a8a8;
  font-size: 16px;
  line-height: 26px;
}

select {
  width: 100%;
  padding: 11px 24px 11px 24px;
  font-size: 14px;
  font-family: "Libre Franklin";
  color: #353941;
  background-color: transparent;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.select-parent {
  position: relative;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  bottom: 8px;
  right: 10px;
  width: 12px;
  height: 12px;
  background-image: url("../../assets/icons/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  pointer-events: none;
}

#certificates {
  display: flex;
  flex-direction: row;
  column-gap: 194px;
}

#job_information {
  display: flex;
  flex-direction: row;
  column-gap: 194px;
}

#password_information {
  display: flex;
  flex-direction: row;
  column-gap: 194px;
}

#change-password-btn {
  background: #004b91;
  color: white;
  padding: 11px 29px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Libre Franklin";
  outline: none;
  border: none;
  border-radius: 2px;
}

.certificate-card {
  background-color: #fdfdfd;
  border: 1px solid #dfdfdf;
  padding: 24px;
  border-radius: 8px;
  box-sizing: border-box;
  min-width: 206px;
}

.certificate-card img {
  margin-bottom: 12.2px;
  max-width: 100%;
}

.certificate-card-button-blue {
  border-radius: 16px;
  outline: none;
  border: none;
  background: #004b91;
  color: white;
  font-size: 10px;
  font-family: "Libre Franklin";
  padding: 6px 10px;
  margin-top: 10px;
}

.certificate-card-button-red {
  border-radius: 16px;
  outline: none;
  border: none;
  background: #c3261b;
  color: white;
  font-size: 10px;
  font-family: "Libre Franklin";
  padding: 6px 10px;
  margin-top: 10px;
}

.certificate-card-button-orange {
  border-radius: 16px;
  outline: none;
  border: none;
  background: #c98056;
  color: white;
  font-size: 10px;
  font-family: "Libre Franklin";
  padding: 6px 10px;
  margin-top: 10px;
}

#groups {
  display: flex;
  flex-direction: row;
  column-gap: 194px;
}

.group-card {
  background: rgba(138, 149, 148, 0.1);
  padding: 24px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 206px;
}

.group-card a {
  margin-top: 4px;
}

.group-avatar {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  margin-bottom: 24px;
  background: #004b91;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  font-family: "Libre Franklin";
}

#current-activities {
  display: flex;
  flex-direction: row;
  column-gap: 194px;
}

#current-activities h1,
p {
  margin: 0px;
}

.overflow-layout {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.acitvity-card {
  background: rgba(138, 149, 148, 0.1);
  padding: 32px 40px 32px 32px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;
  min-width: 427px;
}

.acitvity-card h1 {
  margin-bottom: 13px !important;
}

.card-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  font-family: "Libre Franklin";
  width: 100%;
  column-gap: 10px;
  margin-bottom: 9px;
}

.acitvity-button {
  outline: none;
  border: 1px solid #8a9594;
  padding: 9px 16px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 30px;
  margin-top: 12px;
}

#past-activities {
  display: flex;
  flex-direction: row;
  column-gap: 194px;
  margin-bottom: 30px;
}

#past-activities h1 {
  margin-bottom: 13px !important;
}

.activities-text {
  flex-shrink: 0;
  white-space: nowrap;
}

.past-acitvity-card {
  background: #797979;
  padding: 32px 40px 32px 32px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;
  min-width: 427px;
  color: white;
}

.overflow-card-container {
  display: flex;
  gap: 15px;
  overflow-x: hidden;
  cursor: grab;
  user-select: none;
}

.acitvity-button-white {
  outline: none;
  border: 1px solid white;
  padding: 9px 16px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 30px;
  margin-top: 12px;
  background: transparent;
  color: white;
}

#sticky-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f4f4f4;
  color: white;
  text-align: center;
  display: none;
  z-index: 1000;
}

.banner-button {
  padding: 11px 24px 12px 25px;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.banner-button.update {
  background: #004b91;
  color: white;
}

.banner-button.cancel {
  background: #fff;
  color: #000000;
}

.banner-wrapper {
  width: calc(100% - 128px);
  display: flex;
  justify-content: end;
  flex-direction: row;
  column-gap: 13px;
  padding: 10px 64px 10px 64px;
}

.visible {
  display: block !important;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 560px) {
  #profile_header_section .avatar-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
  }

  #profile-page {
    padding: 0px 17px;
  }

  .profile-section {
    padding: 24px 0px;
  }

  .profile-input-group div {
    display: flex;
    flex-direction: column;
    min-width: 90px;
  }

  .profile-inputs {
    margin-top: 24px;
    column-gap: 85px;
  }

  #job_information,
  #certificates,
  #personal_data,
  #groups,
  #current-activities,
  #past-activities {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }

  #job_information .profile-inputs {
    column-gap: 12px;
  }

  #password_information {
    flex-direction: column;
  }

  #change-password-btn {
    margin-top: 24px;
  }

  .overflow-layout {
    margin-top: 24px;
  }

  #personal_data .profile-input-group div {
    min-width: 90px;
  }

  #personal_data .profile-input-group {
    column-gap: 85px;
  }

  #job_information .profile-input-group div {
    min-width: 162px;
  }

  #job_information .profile-input-group {
    column-gap: 12px;
  }

  .banner-wrapper {
    padding: 10px 17px;
    float: right;
  }

  .mobile-profile-input-group {
    display: flex;
    flex-direction: column !important;
    row-gap: 8px;
  }
}
