#we_lead_showcase {
  min-height: 573px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f9f9f9;
  position: relative;
}

#we_lead_showcase .container {
  z-index: 1;
}

#we_lead_showcase .showcase-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#we_lead_showcase .background-showcase {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}

#we_lead_showcase .showcase-img {
  margin-left: 12rem;
}

#we_lead_showcase h1 {
  margin: 0px;
  padding-bottom: 16px;
}

#we_lead_showcase p {
  max-width: 517px;
  margin-bottom: 24px;
  margin-top: 16px;
}

#we_lead_showcase a {
  text-decoration: none;
}

.horizontal-line {
  border: none;
  height: 5px;
  color: #c9c473;
  background-color: #c9c473;
  width: 300px;
  margin: 0px;
}

/* event section */
#events {
  padding: 80px 0px;
}

#events .about-event {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#events a {
  text-decoration: none;
}

/* events list */
#events_list {
  padding-bottom: 72px;
}

#events_list h1 {
  margin-top: 0px;
}

#events_list .event-card {
  padding: 32px;
  background: white;
  border-radius: 8px;
  height: auto;
  border: 3px solid rgba(138, 149, 148, 0.1);
}

#events_list .event-card h1 {
  margin: 0px 0px 4px 0px;
}

#events_list a {
  text-decoration: none;
  display: flex;
  align-items: stretch;
}

#events_list p {
  margin: 0px 0px 8px 0px;
}

.event-text {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #696969;
}

#events_list .event-date {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #696969;
}

/* related news*/
#related_news {
  padding-bottom: 64px;
}

#related_news a {
  text-decoration: none;
}

#related_news h1 {
  margin-top: 0px;
}

#related_news .news-card {
  border-radius: 8px;
}

#related_news .news-img {
  background: url(./assets/news.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 171px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#related_news .news-card .news-info {
  padding: 32px;
  background: #f9f9f9;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#related_news .news-info h1 {
  margin: 0px 0px 4px 0px;
}

#related_news .news-info p {
  margin: 0px 0px 8px 0px;
}

.event-text {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #696969;
}

#learning_events .event-date {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #696969;
}

.hyperlink {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #0097ad;
}

/* related news*/
#related_news {
  padding-bottom: 64px;
}

#related_news a {
  text-decoration: none;
}

#related_news h1 {
  margin-top: 0px;
}

#related_news .news-card {
  border-radius: 8px;
}

#related_news .news-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 171px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#related_news .news-img-1 {
  background: url("./assets/news_image_1.png");
}

#related_news .news-img-2 {
  background: url("./assets/news_image_2.png");
}

#related_news .news-img-3 {
  background: url("./assets/news_image_3.png");
}

#related_news .news-card .news-info {
  padding: 32px;
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 3px solid rgba(138, 149, 148, 0.1);
  border-left: 3px solid rgba(138, 149, 148, 0.1);
  border-bottom: 3px solid rgba(138, 149, 148, 0.1);
}

#related_news .news-info h1 {
  margin: 0px 0px 4px 0px;
}

#related_news .news-info p {
  margin: 0px 0px 8px 0px;
}

.event-text {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #696969;
}

.hyperlink {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #a13d67;
}

/* event description */
/* event descriptions section */
#event_description {
  background: #f8f8f8;
  padding: 80px 0px;
  position: relative;
}

#event_description .event-description-background {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

#event_description .list-header,
#event_description .list-info {
  z-index: 1;
}

#event_description .description-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

#event_description .list-header {
  margin-right: 72px;
  max-width: 206px;
  width: 100%;
}

#event_description .list-header h1 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #231f20;
  margin-bottom: 8px;
  margin-top: 0px;
}

#event_description .list-header hr {
  border: none;
  height: 3px;
  color: #a13d67;
  background-color: #a13d67;
  width: 133px;
  margin: 0px;
}

#event_description .list-info {
  max-width: 648px;
}

#event_description .list-info p {
  margin: 0px;
}

#event_description .description-list:not(:first-child) {
  margin-top: 80px;
}

.block-wrapper {
  display: block;
  margin: 0 auto;
}

#event_description ul {
  margin: 8px 0px;
}

#event_description ul li {
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-button {
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 10px 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.accordion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.accordion-button img {
  margin-right: 24px;
}

.accordion-button .bold {
  font-weight: 700;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 0 18px;
}

.accordion-content {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding-left: 4rem;
}

.accordion-icon {
  background-image: url("../CEF_Grafike/arrow-down.svg"); /* Replace with the path to your custom icon */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: inline-block;
  width: 16px; /* Set the width of your icon */
  height: 16px; /* Set the height of your icon */
}

.accordion-icon.open {
  background-image: url("../CEF_Grafike/arrow-up.svg");
}

/* sponsored section */
#sponsored_section {
  padding: 40px 0px 48px 0px;
}

#sponsored_section h3 {
  text-align: center;
}

.eu {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #other_resources */
#other_resources {
  padding-bottom: 106px;
}

#other_resources .resource {
  position: relative;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(249, 249, 249, 0) 0%,
    rgba(136, 136, 136, 0.451653) 32.34%,
    rgba(54, 54, 54, 0.783529) 60.65%,
    #000000 100%
  );
  width: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-bottom: 18px;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media screen and (max-width: 560px) {
  /* project showcase section */
  #we_lead_showcase {
    min-height: unset;
    padding: 85px 16px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #we_lead_showcase h1 {
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 72px;
    padding: 0px;
  }

  #we_lead_showcase p {
    margin-top: 8px;
  }

  /*event section */
  #events {
    padding: 32px 16px;
  }

  #events img {
    display: none;
  }

  #events .about-event {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #events h1 {
    margin: 0px 0px 8px 0px;
  }

  #events p {
    margin-top: 5px;
    margin-bottom: 16px;
    text-align: center;
  }

  #events a {
    margin-top: 32px !important;
  }

  /* events list */
  #events_list {
    padding: 48px 16px;
  }

  /* event descriptions */
  #event_description {
    padding: 40px 16px;
  }

  #event_description .description-list {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #event_description .description-list:not(:first-child) {
    margin-top: 40px;
  }

  #event_description .list-header {
    margin: 0px;
  }

  #event_description .list-header h1 {
    text-align: center;
  }

  #event_description .list-info {
    margin-top: 16px;
  }

  #event_description .list-header hr {
    display: block;
    margin: auto !important;
  }

  #event_description .list-info p {
    text-align: center;
  }

  #event_description .event-description-background {
    display: none;
  }

  #event_description ul {
    padding-left: 16px;
  }

  #event_description .accordion img {
    margin-right: 12px;
  }

  #event_description .accordion-header {
    margin-right: 12px;
    align-items: flex-start;
  }

  #event_description .accordion-header p {
    text-align: left;
  }

  #event_description .accordion-content {
    padding-left: 0px;
  }

  #event_description .accordion-content ul {
    padding-left: 1rem;
  }

  /*  #other_resources*/
  #other_resources {
    padding: 32px 16px 80px 16px;
  }

  /* event descriptions */
  #sponsored_section {
    padding: 32px 16px;
  }

  /* learning resources section */
  #learning_resources {
    padding: 0px 16px 32px 16px;
  }

  /* learning events*/
  #learning_events {
    padding: 0px 16px 32px 16px;
  }

  /* related news*/
  #related_news {
    padding: 0px 16px 72px 16px;
  }
}
