#post {
  display: flex;
  flex-wrap: wrap;
  gap: 127px;
  justify-content: space-between;
}

.post-content {
  flex: 1 1 868px;
  max-width: 868px;
}

.post-side {
  flex: 1;
  min-width: 0;
}

#post_header {
  padding-top: 40px;
  padding-bottom: 32px;
}

#post_header h1 {
  margin: 0px;
}

#post-meta {
  padding-top: 32px;
  padding-bottom: 21px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.meta-items {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
}

.meta-item {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
}

.meta-item span {
  color: #777777;
  font-family: "Libre Franklin";
  font-size: 12px;
  padding-top: 2px;
}

#post-meta .meta-items:nth-child(2) {
  margin-top: 16px;
}

#post-content h1,
p {
  font-family: "Libre Franklin";
  color: #000000;
}

#post-content h1 {
  margin-top: 64px;
  margin-bottom: 16px;
}

#post-content h1:first-child {
  margin-top: 32px;
  margin-bottom: 16px;
}

.post-content-wrapper {
  padding-bottom: 64px;
  border-bottom: 1px solid #dfdfdf;
}

.post-content-wrapper ul li span {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: black;
}

.eu-flag {
  padding: 48px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobs {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  padding-bottom: 31px;
  border-bottom: 1px solid #dfdfdf;
  margin-top: 90px;
}

.job-item {
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 24px;
}

.job-avatar {
  background: #f0f0f0;
  border-radius: 20px;
  width: 94px;
  height: 94px;
}

.job-item h1 {
  font-weight: bold;
  font-size: 14px;
  font-family: "Libre Franklin";
  margin: 0px;
}

.job-item p {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  font-family: "Libre Franklin";
  margin: 0px;
}

#accepted-btn {
  width: 100%;
  padding: 17px 0px 15px 0px;
  font-family: "Libre Franklin";
  font-size: 20px;
  font-weight: bold;
  outline: none;
  border: none;
  background: #1f97ff;
  color: white;
  margin: 24px 0px;
}

#apply-btn {
  width: 100%;
  padding: 17px 0px 15px 0px;
  font-family: "Libre Franklin";
  font-size: 20px;
  font-weight: bold;
  outline: none;
  border: none;
  background: #004695;
  color: white;
  margin-bottom: 24px;
}

.course-link {
  border: 3px solid #004b91;
  padding: 24px 49px;
  color: #004b91;
  display: inline-block;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 24px;
}

.course-link h1,
.course-link h2 {
  margin: 0;
  display: inline-block;
  white-space: nowrap;
}

.course-link h2 {
  font-size: 20px;
  font-family: "Libre Franklin";
  font-weight: bold;
  margin-bottom: 8px;
  margin: 0 auto;
}

.course-link h1 {
  font-size: 24px;
  font-family: "Libre Franklin";
  font-weight: bold;
}

.agenda {
  background: #eeefef;
  padding: 24px;
}

.agenda-header {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  margin-bottom: 16px;
  font-family: "Libre Franklin";
}

.agenda h1 {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 24px;
  font-family: "Libre Franklin";
}

.agenda p {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: "Libre Franklin";
  margin-top: 0px;
}

.agenda span {
  font-size: 12px;
  font-weight: 400;
  font-family: "Libre Franklin";
}

.links {
  background: #eeefef;
  padding: 24px;
  margin-top: 24px;
}

.link-header {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  margin-bottom: 16px;
  font-family: "Libre Franklin";
}

.link-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.link-item {
  background: rgba(0, 75, 145, 0.7);
  color: white;
  font-weight: bold;
  font-family: "Libre Franklin";
  font-size: 13px;
  padding: 6px 13px;
  text-decoration: none;
  border-radius: 32px;
}

@media (max-width: 1000px) {
  .first-column,
  .second-column {
    max-width: 100%;
  }

  #post {
    padding: 40px 16px 50px 16px;
  }

  #post_header {
    padding: 0px 0px 24px 0px;
  }

  #no-fee {
    display: none;
  }

  .meta-items {
    justify-content: space-between;
    width: 100%;
  }

  .meta-items .meta-item:nth-child(2) {
    width: 100%;
    width: 220px;
  }

  .meta-items .meta-item:nth-child(1) span {
    white-space: nowrap;
  }

  #post-content h1 {
    font-size: 24px;
    line-height: auto;
  }

  #post-content h1 {
    margin-top: 32px !important;
    margin-bottom: 16px !important;
  }

  #post-content h1:first-child {
    margin-top: 24px !important;
    margin-bottom: 16px !important;
  }

  .post-content-wrapper {
    padding-bottom: 32px;
  }

  .eu-flag {
    padding: 24px 0px 32px 0px;
  }

  #post {
    gap: 0px;
  }

  .jobs {
    margin-top: 0px;
  }

  .agenda-header {
    font-size: 24px !important;
  }

  .link-header {
    font-size: 24px !important;
  }
}
